@{
    ViewData["Title"] = "Azure Cookbook: Zipdeploy demo!";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">@ViewData["Title"]</a>.</p>
</div>
